- content_for(:title) do
  %h1 New note

%form{:action => "/notes", :method => "post", :id => "note-editor"}
  %label{:for => "title"} Title:
  %input{:type => "text", :name => "title", :class => "input-title"}
  %input{:type => "hidden", :id => "editor-content", :name => "content"}
  %br
  %br
  %label{:for => "title"} Content:
  #epiceditor
  - if defined? @sections
    %br
    %label{:for => "section", :class => 'inline'} Section:
    %select{:name => "section"}
      %option{:value => ''}= 'None'
      - @sections.each do |section|
        %option{:value => section[:id]}= section[:title]
    %br
    %br
  %input{:type => "submit", :value => "Save", :class => "btn"}
